/* main: ../bulmascores.sass */

$font_stack: 'Roboto', sans-serif

// Colors
$primary: #363636
$link: #000
$comment_border: #ddd
$comment_author_bg: #f5f5f5
$textarea_border: #dbdbdb

body
  font-family: $font_stack
  display: flex
  min-height: 100vh
  flex-direction: column

a, a:hover
  color: $link

a:hover
  opacity: 0.7

#primary
  flex: 1 0 auto
  margin-top: 20px

.pagination-link.is-current
  background-color: $primary
  border-color: $primary
