$front-dl-lineheight: 2.5
$front-dl-gap: .85rem
.front
    &-section
        &__heading
            background: $grey-darker
            color: $white
            text-align: center
            padding: $gap/2 0
    
    &-map
        &--meta
            display: flex
            flex-wrap: wrap
            line-height: $front-dl-lineheight
            &__dt
                font-weight: bold
                width: 25%
                border-bottom: 2px solid $grey-darker
                padding-right: $front-dl-gap
                text-align: end
            &__dd
                margin-left: auto
                font-weight: 700
                width: 75%
                border-bottom: 2px solid $grey-light
                padding-left: $front-dl-gap