.hero    
    &-mdcenter
        background: linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.4))
        padding: 3rem 1.5rem
@media screen and (min-width: $desktop + 1)
    .hero    
        &-mdcenter
            padding-top: 9rem
            padding-bottom: 9rem