.hero    
    &-mdcenter
        background: linear-gradient(30deg, rgba(0,210,180, 0.6),rgba(12,102,161, 0.6))
        padding: 3rem 1.5rem
@media screen and (min-width: $desktop + 1)
    .hero    
        &-mdcenter
            padding-top: 9rem
            padding-bottom: 9rem